body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacer-div {
  margin: 5px;
  padding: 5px;
}

.card-table {
  width: 100%;
  height: 100%;
  background-color: yellow;
  text-align: center;

}

.landing-page {
  width: 100%;
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.welcome-text {
  font-size: 72px;
}

.header {
  text-align: center;
  font-size: 24px;
}

.game-info {
  text-align: center;
  font-size: 14px;
}

.play-button {
  width: 70%;
  height: 10vh;
  border-radius: 15px;
  font-size: 36px;
  font-weight: bold;
  color: white;
  background-color: purple;
}

.instructions-panel {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 30px;
}

.instructions {
  font-size: 16px;
}

.card-deck-image {
  max-width: 15%;
  max-height: auto;
}

.down-arrow {
  max-width: 2%;
  max-height: auto;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
   transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
   transition-property: transform;
}

.down-arrow:active {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

.card {
  width: 200px;
  height: 280px;
  border-radius: 10px;
  transition: all 2s ease;
}

.card:hover {
  
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.card:active { 
  width: 300px;
  height: 420px;
}



@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  25% { transform: translate(-3px, -3px) rotate(-5deg); }
  75% { transform: translate(3px, 3px) rotate(5deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}